/*-- ===== Body style ==== -- */

body {
    background-image: url("images/background.jpg");
    background-color: #cccccc;
   }

/*-- ===== Newsletter style ==== -- */

#subscribe {
    display: flex;
    background-image: url(images/newsletterbackground.png);
    background-color: #cccccc;
    align-items: center;
    padding-left: 250px;
    justify-content: space-around;
   }

/*-- ===== FONT STYLES ==== -- */

 /*-- ===== H1 font style ==== -- */
h1 {
    text-align: center;
    color:white; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

 /*-- ===== P font style ==== -- */
 p {
    text-align: center;
    color:white; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:18px ;
    }

    /*-- ===== (buttonsm) style ==== -- */
.buttonsm {
    background-color: #303030;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
}
  .buttonsm {border-radius: 7px;}
  
  .buttonsm:hover {
    background-color: #f0c234;
    color: white;
}
    /*-- ===== game style ==== -- */

.coingame {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    width: 120px;  
    position: relative;
    transform: scale(1);
    transition: transform .6s;
    transform-style: preserve-3d;
}

.card__face--up {
    transform: rotateY(180deg)
    
}

.card__face--down {
    padding: 1px;
}

.card.turn {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(1.3);
    transition: transform .5s;
}

.card__face--up,
.card__face--down {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
/*-- ===== align style ==== -- */

.align {
    text-align: center;
}